/* ----------- iPhone 6, 6S, 7 and 8 ----------- */


/* Landscape */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {

}


/* ----------- iPhone X ----------- */


/* Portrait */

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {

}


/* Landscape */

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {

}


/* ----------- iPad 3, 4 and Pro 9.7" ----------- */


/* Portrait */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {

}


/* ----------- Laptop upwards" ----------- */

@media screen and (min-width: 1024px) {
	
}

@media (min-width: 1281px) {

}